

<!--nav bar-->

<!--Pages button-->
<!--
<button [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" type="button" class="btn btn-outline-info mt-5">Home</button>
<button [routerLink]="['students']" routerLinkActive="active" type="button" class="btn btn-outline-info mt-5 mx-3">Students</button>
<button [routerLink]="['course']" routerLinkActive="active" type="button" class="btn btn-outline-info mt-5 ">Courses</button>
-->
<!--Pages button-->





<!--Pages-->
<!--
<app-home></app-home>
<app-course></app-course>
<app-students></app-students>
-->
<!--Pages-->


<router-outlet></router-outlet>

<!--
<footer class="bg-green-100 py-12">Foote</footer>-->